# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners

# @kousiknath will be requested for
# review when someone opens a pull request.
* @kousiknath